<!DOCTYPE html>
<html lang="fr">

<body>
    <header>
        <a href="http://localhost:8080"><img id="logo_header" src="../static/pictures/header/logo.svg" alt="logo la tour d'argent" /></a>
        <%- include('../partials/burger') -%>
    </header>
</body>

</html>
