<!DOCTYPE html>
<html lang="fr">

<head>
    <!--META-->
    <meta charset="UTF-8">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--LE MONDE LIVRE CLASSIC-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>

    <title>La Tour d'Argent</title>
</head>

<body>
    <main>
        <button id="button" class="hamburger">
            <span class="burger"></span>
            <span class="burger"></span>
            <span class="burger"></span>
        </button>

        <section class="content">
            <div class="flex">
                <img src="../static/pictures/logo_grey.svg" alt="logo grey" />
                <nav>
                    <ul class="navigation">
                        <li><a href="#0">ACCUEIL</a></li>
                        <li><a href="#0">LE LIEU</a></li>
                        <li><a href="#0">LE CHEF</a></li>
                        <li><a href="#0">LA CARTE</a></li>
                        <li><a href="#0">LA TABLE</a></li>
                        <li><a href="#0">LE SALON PRIVÉ</a></li>
                        <li><a href="#0">INVITATIONS</a></li>
                        <li><a href="#0">LE BOULANGER DE LA TOUR</a></li>
                        <li><a href="#0">LA ROTISSERIE D’ARGENT</a></li>
                    </ul>
                    <ul class="navigation">
                        <li><a href="#0">LE COMPTOIR</a></li>
                        <li><a href="#0">LA TOUR D’ARGENT TOKYO</a></li>
                        <li><a href="#0">AGMAG</a></li>
                        <li><a href="#0">E-BOUTIQUE</a></li>
                        <li><a href="#0">CONTACT</a></li>
                        <li><a href="#0">REJOIGNEZ-NOUS</a></li>
                        <li id="margin-legal" class="legal"><a href="#0">MENTIONS LEGALES</a></li>
                        <li class="legal"><a href="#0">CREDITS</a></li>
                    </ul>
                </nav>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/latourdargent/"><img src="../static/pictures/facebook.png" alt="facebook" id="facebook" /></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/tourdargentparis/"><img src="../static/pictures/insta.png" alt="instagram" /></a>
                    </li>

                    <li>
                        <a href="https://twitter.com/latourdargent?lang=fr"><img src="../static/pictures/twitter.png" alt="twitter" /></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company-beta/3162633/"><img src="../static/pictures/linkedin.png" alt="linkedin" /></a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/+TourdArgentParis"><img id="googleplus" src="../static/pictures/googleplus.png" alt="googleplus" /></a>
                    </li>

                    <li>
                        <a href="https://www.flickr.com/photos/tourdargentparis/"><img src="../static/pictures/filckr.png" alt="flikr" /></a>
                    </li>
                </ul>

            </div>
        </section>

        <img src="../static/pictures/logo_white.svg" alt="Logo tour d'argent" />
        <section class="menu" id="place">
            <div class="box-info"></div>
            <img src="../static/pictures/lieu.svg" alt="Le lieu" />
        </section>

        <section class="menu" id="cooker">
            <div class="box-info"></div>
            <img src="../static/pictures/chef.svg" alt="Le chef" />
        </section>

        <section class="menu" id="card">
            <div class="box-info"></div>
            <img src="../static/pictures/carte.svg" alt="La carte" />
        </section>

        <section class="menu" id="table">
            <div class="box-info"></div>
            <img src="../static/pictures/table.svg" alt="Votre table" />
        </section>

        <!--<section id="loader">
            <img src="../static/pictures/logo_white.svg" />
            <img src="../static/pictures/shadow_logo.png" />
        </section>-->
    </main>

    <script src="../static/js/script_index.js"></script>
</body>

</html>
