* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 94%;
    width: 30px;
    height: 29px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-132deg);
    transform: rotate(-132deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pictures_section {
    background-image: url(../pictures/lieu/lieu.jpg);
    background-position: 0%;
}

.black {
    background: rgba( 35, 35, 35, 0.7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.45s ease-in-out;
    transition: opacity 0.45s ease-in-out;
    text-align: center;
    z-index: 30;
    opacity: 0;
}

.black-hover {
    opacity: 1;
    z-index: 80;
}

#family_pictures {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#family_pictures>div {
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 95%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

#family_pictures>div:hover,
#family_pictures>div:focus,
#family_pictures>div:active {
    -webkit-transform: scale(1.055);
    transform: scale(1.055);
}

#family_pictures>div:first-child h3 {
    display: block;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: white;
    text-align: center;
    top: 80%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

.opacity {
    -webkit-animation: opacity 1s forwards;
    animation: opacity 1s forwards;
}

#chronology_pictures>.swiper-slide_2>div>h3 {
    display: block;
    font-family: "le-monde-livre-classic-byol", serif;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#family_pictures>div:first-child {
    background-image: url(../pictures/lieu/andre-terrail.jpg);
    margin-left: 0;
}

#family_pictures>div:nth-child(2) {
    background-image: url(../pictures/lieu/claude-terrail.jpg);
}

#family_pictures>div:last-child {
    background-image: url(../pictures/lieu/andre-terrail-fils.jpg);
}

.swiper-slide {
    background-color: white;
}

#chronology_pictures>.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
}

#chronology_pictures>.swiper-slide>div {
    background-size: cover;
    background-position: center;
    width: 48%;
    height: 48%;
    margin: 5px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.select {
    width: 50% !important;
    height: 50% !important;
    margin: 0px !important;
}

#chronology_pictures>.swiper-slide>div:hover,
#chronology_pictures>.swiper-slide>div:focus,
#chronology_pictures>.swiper-slide>div:active {
    -webkit-transform: scale(1.055);
    transform: scale(1.055);
}

#chronology_pictures>.swiper-slide:last-child>div:last-child {
    width: 98%;
}

select_story11 {
    width: 98% !important;
    height: 50% !important;
    margin: 0px !important;
}

#fullpage>.swiper-wrapper>.swiper-slide:last-child>div:first-child {
    background: none;
}

.story1 {
    display: block;
}

.story2 {
    display: none;
}

.story3 {
    display: none;
}

.story4 {
    display: none;
}

.story5 {
    display: none;
}

.story6 {
    display: none;
}

.story7 {
    display: none;
}

.story8 {
    display: none;
}

.story9 {
    display: none;
}

.story10 {
    display: none;
}

.story11 {
    display: none;
}


/*SLIDE 1*/

#chronology_pictures>.swiper-slide:first-child>div:first-child {
    background-image: url(../pictures/lieu/chronologie_1.jpg);
}

#chronology_pictures>.swiper-slide:first-child>div:nth-child(2) {
    background-image: url(../pictures/lieu/chronologie_2.jpg);
}

#chronology_pictures>.swiper-slide:first-child>div:nth-child(3) {
    background-image: url(../pictures/lieu/chronologie_3.jpg);
}

#chronology_pictures>.swiper-slide:first-child>div:last-child {
    background-image: url(../pictures/lieu/chronologie_4.jpg);
}


/*SLIDE 2*/

#chronology_pictures>.swiper-slide:nth-child(2)>div:first-child {
    background-image: url(../pictures/lieu/chronologie_5.jpg);
}

#chronology_pictures>.swiper-slide:nth-child(2)>div:nth-child(2) {
    background-image: url(../pictures/lieu/chronologie_6.jpg);
}

#chronology_pictures>.swiper-slide:nth-child(2)>div:nth-child(3) {
    background-image: url(../pictures/lieu/chronologie_7.jpg);
}

#chronology_pictures>.swiper-slide:nth-child(2)>div:last-child {
    background-image: url(../pictures/lieu/chronologie_8.jpg);
}


/*SLIDE 3*/

#chronology_pictures>.swiper-slide:last-child>div:first-child {
    background-image: url(../pictures/lieu/chronologie_9.jpg);
}

#chronology_pictures>.swiper-slide:last-child>div:nth-child(2) {
    background-image: url(../pictures/lieu/chronologie_10.jpg);
}

#chronology_pictures>.swiper-slide:last-child>div:nth-child(3) {
    background-image: url(../pictures/lieu/chronologie_11.jpg);
}

#chronology_pictures>.swiper-slide:last-child>div:last-child {
    background-color: white;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-132deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-132deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-132deg) translate(0, 0);
        transform: rotate(-132deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-132deg) translate(-20px, 20px);
        transform: rotate(-132deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/*RESPONSIVE*/


/*BIG SCREEN*/

@media all and (min-width: 1281px) and (max-width: 3000px) {}


/*TABLET SCREEN*/

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    #family_pictures>div:first-child {
        height: 33.33%;
        width: 100%;
    }
    .arrow {
        top: 87%;
        left: 40%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-40%);
    }
    #family_pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #family_pictures>div {
        height: 33.33%;
        width: 95%;
        margin-left: 0px;
    }
    h3 {
        top: 50%;
        left: 67%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
    }
    #chronology {
        margin-top: 11%;
    }
    #chronology_pictures>.swiper-slide {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #chronology_pictures>.swiper-slide>div {
        width: 45%;
    }
    #chronology_pictures>.swiper-slide:last-child>div:last-child {
        width: 94%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    #family_pictures>div:first-child {
        height: 100%;
        width: 33.33%;
    }
    #chronology {
        margin-top: 11%;
    }
    #chronology_pictures>.swiper-slide {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #chronology_pictures>.swiper-slide>div {
        width: 47%;
    }
    #chronology_pictures>.swiper-slide:last-child>div:last-child {
        width: 94%;
    }
}


/*PHONE SCREEN*/

@media all and (min-width: 320px) and (max-width: 767px) and (orientation:portrait) {
    #family_pictures>div:first-child {
        height: 33.33%;
        width: 100%;
    }
    .arrow {
        top: 87%;
        left: 40%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-40%);
    }
    #family_pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #family_pictures>div {
        height: 30%;
        width: 95%;
        margin-left: 0px;
    }
    h3 {
        top: 50%;
        left: 70%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 23px;
    }
    #chronology {
        margin-top: 11%;
    }
    #chronology_pictures>.swiper-slide {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #chronology_pictures>.swiper-slide>div {
        width: 45%;
    }
    #chronology_pictures>.swiper-slide:last-child>div:last-child {
        width: 94%;
    }
    #family_pictures>div:first-child {
        background-position: 0% 26%;
    }
    #family_pictures>div:nth-child(2) {
        background-position: 0% 39%;
    }
    #family_pictures>div:last-child {
        background-position: 0% 17%;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) and (orientation:landscape) {
    h3 {
        top: 82%;
        left: 42%;
        font-size: 29px;
    }
    #family_pictures>div:first-child {
        height: 100%;
        width: 33.33%;
    }
    #chronology {
        margin-top: 11%;
    }
    #chronology_pictures>.swiper-slide {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #chronology_pictures>.swiper-slide>div {
        width: 47%;
    }
    #chronology_pictures>.swiper-slide:last-child>div:last-child {
        width: 94%;
    }
}
