* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
}

main {
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main>a>img {
    position: absolute;
    z-index: 3;
    top: 6%;
    width: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/*LOADER*/

#loader {
    width: 100%;
    height: 100%;
    background-image: url(../pictures/accueil/background_load.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#loader>div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

#loader>div>img {
    width: 100%;
}

#loader>div>img:first-child {
    z-index: 2;
}

#loader>div>img:nth-child(2) {
    z-index: 1;
    top: -4%;
    width: 104%;
    position: absolute;
}

select {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    background-color: transparent;
    border-bottom: white 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px 0px;
    color: white;
    width: 30%;
    -webkit-box-shadow: black 1px 1px 24px;
    box-shadow: black 1px 1px 24px;
    background-color: rgba(0, 0, 0, 0.3);
}

#loader>div>a>button {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
    padding: 10px 10px;
    font-size: 26px;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 13px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: black 1px 1px 24px;
    box-shadow: black 1px 1px 24px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    outline: none;
}

#loader>div>a>button:hover,
#loader>div>a>button:focus,
#loader>div>a>button:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#contact {
    position: absolute;
    bottom: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color;
    transition-property: color;
    text-decoration: none;
}

#contact:hover {
    color: #ffc424;
}


/*HOME*/

.hamburger {
    position: absolute;
    top: 21px;
    right: 37px;
}

.hamburger .burger {
    background-color: white;
}

#menu_hamburger {
    float: right;
    top: 6.75%;
    position: absolute;
    right: 90px;
    z-index: 9999;
    color: white;
}

.menu {
    width: 24%;
    height: 0%;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.menu:hover,
.menu:focus,
.menu:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.box-info {
    background: rgba( 35, 35, 35, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.45s ease-in-out;
    transition: opacity 0.45s ease-in-out;
    text-align: center;
    z-index: 30;
    opacity: 0;
}

.box-info-hover {
    opacity: 1;
    z-index: 80;
}

#place {
    background-image: url(../pictures/accueil/lieu.jpg);
}

#place>a>img {
    width: 55%;
    position: absolute;
    top: 36%;
    z-index: 30;
}

#place>a>img:nth-child(3) {
    width: 60%;
    position: absolute;
    top: 36%;
    left: -3%;
    z-index: 20;
    opacity: 0.7;
}

#cooker {
    background-image: url(../pictures/accueil/le_chef.jpg);
}

#cooker>a>img {
    width: 65%;
    position: absolute;
    top: 66%;
    z-index: 30;
}

#cooker>a>img:nth-child(3) {
    width: 72%;
    position: absolute;
    top: 65%;
    left: -3%;
    z-index: 20;
    opacity: 0.7;
}

#card {
    background-image: url(../pictures/accueil/la_carte.jpg);
}

#card>a>img {
    width: 65%;
    position: absolute;
    top: 35%;
    z-index: 30;
}

#card>a>img:nth-child(3) {
    width: 72%;
    position: absolute;
    top: 34%;
    left: -3%;
    z-index: 20;
    opacity: 0.7;
}

#table>a>img {
    width: 70%;
    position: absolute;
    top: 64%;
    z-index: 30;
}

#table>a>img:nth-child(3) {
    width: 76%;
    position: absolute;
    top: 63%;
    left: -3%;
    z-index: 20;
    opacity: 0.7;
}

#table {
    background-image: url(../pictures/accueil/votre_table.jpg);
}


/* ANNIMATE*/

.animate_place {
    -webkit-animation: height_menu 1.5s forwards;
}

.text_menu_place {
    -webkit-animation: text_menu 1.5s forwards;
    -webkit-animation-delay: 0.15s;
}

.animate_cooker {
    -webkit-animation: height_menu 1.5s forwards;
    -webkit-animation-delay: 0.25s;
}

.text_menu_cooker {
    -webkit-animation: text_menu 1.5s forwards;
    -webkit-animation-delay: 0.35s;
}

.animate_card {
    -webkit-animation: height_menu 1.5s forwards;
    -webkit-animation-delay: 0.5s;
}

.text_menu_card {
    -webkit-animation: text_menu 1.5s forwards;
    -webkit-animation-delay: 0.65s;
}

.animate_table {
    -webkit-animation: height_menu 1.5s forwards;
    -webkit-animation-delay: 0.75s;
}

.text_menu_table {
    -webkit-animation: text_menu 1.5s forwards;
    -webkit-animation-delay: 0.85s;
}

@-webkit-keyframes height_menu {
    from {
        opacity: 0;
        height: 0%;
    }
    to {
        opacity: 1;
        height: 95%;
    }
}

@-webkit-keyframes text_menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*RESPONSIVE*/


/*BIG SCREEN*/

@media all and (min-width: 1281px) and (max-width: 3000px) {}


/*TABLET SCREEN*/

@media all and (min-width: 768px) and (max-width: 1024px) {
    #loader>div {
        width: 80%;
    }
    select {
        width: 40%;
    }
    .menu {
        width: 0%;
        height: 24%;
    }
    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #place>a>img {
        width: 13%;
        top: 10%;
    }
    #place>a>img:nth-child(3) {
        width: 14%;
        top: 9%;
        left: 0%;
    }
    #cooker>a>img {
        width: 18%;
        top: 13%;
    }
    #cooker>a>img:nth-child(3) {
        width: 19%;
        top: 11%;
        left: 0%;
    }
    #card>a>img {
        width: 19%;
        top: 5%;
    }
    #card>a>img:nth-child(3) {
        width: 20%;
        top: 3%;
        left: 0%;
    }
    #table>a>img {
        width: 21%;
        top: 13%;
    }
    #table>a>img:nth-child(3) {
        width: 22%;
        top: 11%;
        left: 0%;
    }
    #place {
        background-image: url(../pictures/accueil/lelieu_responsive.jpg);
        background-position: 79%;
    }
    #cooker {
        background-image: url(../pictures/accueil/lechef_responsive.jpg);
        background-position: 79%;
    }
    #card {
        background-image: url(../pictures/accueil/lacarte_responsive.jpg);
        background-position: 79%;
    }
    #table {
        background-image: url(../pictures/accueil/latable_responsive.jpg);
        background-position: 79%;
    }
    @-webkit-keyframes height_menu {
        from {
            opacity: 0;
            width: 0%;
        }
        to {
            opacity: 1;
            width: 95%;
        }
    }
}


/*PHONE SCREEN*/

@media all and (min-width: 320px) and (max-width: 767px) {
    #loader>div {
        width: 80%;
    }
    select {
        width: 40%;
    }
    .menu {
        width: 0%;
        height: 24%;
    }
    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #place>a>img {
        width: 20%;
        top: 7%;
    }
    #place>a>img:nth-child(3) {
        width: 22%;
        top: 4%;
        left: -1%;
    }
    #cooker>a>img {
        width: 22%;
        top: 13%;
    }
    #cooker>a>img:nth-child(3) {
        width: 23%;
        top: 11%;
        left: 0%;
    }
    #card>a>img {
        width: 25%;
        top: 5%;
    }
    #card>a>img:nth-child(3) {
        width: 26%;
        top: 5%;
        left: 0%;
    }
    #table>a>img {
        width: 25%;
        top: 13%;
    }
    #table>a>img:nth-child(3) {
        width: 26%;
        top: 11%;
        left: 0%;
    }
    #place {
        background-image: url(../pictures/accueil/lelieu_responsive.jpg);
        background-position: 79%;
    }
    #cooker {
        background-image: url(../pictures/accueil/lechef_responsive.jpg);
        background-position: 79%;
    }
    #card {
        background-image: url(../pictures/accueil/lacarte_responsive.jpg);
        background-position: 79%;
    }
    #table {
        background-image: url(../pictures/accueil/latable_responsive.jpg);
        background-position: 79%;
    }
    @-webkit-keyframes height_menu {
        from {
            opacity: 0;
            width: 0%;
        }
        to {
            opacity: 1;
            width: 95%;
        }
    }
}
