.swiper-slide:first-child>img {
    width: 20%;
    left: 55%;
    top: 0;
}

select {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0px;
    font-weight: 300;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 94%;
    width: 30px;
    height: 29px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-132deg);
    transform: rotate(-132deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pictures_section {
    background-image: url(../pictures/lieu/lieu.jpg);
    background-position: 0%;
}

.black {
    background: rgba( 35, 35, 35, 0.7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.45s ease-in-out;
    transition: opacity 0.45s ease-in-out;
    text-align: center;
    z-index: 30;
    opacity: 0;
}

.black-hover {
    opacity: 1;
    z-index: 80;
}

#table_pictures {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#table_pictures>div {
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 95%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

#table_pictures>div:hover,
#table_pictures>div:focus,
#table_pictures>div:active {
    -webkit-transform: scale(1.055);
    transform: scale(1.055);
}

#table_pictures>div:first-child h3 {
    display: block;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: white;
    text-align: center;
    top: 80%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

#table_pictures>div:first-child {
    background-image: url(../pictures/table/reservation.jpg);
    margin-left: 0;
}

#table_pictures>div:nth-child(2) {
    background-image: url(../pictures/table/salon_prive.jpg);
}

#table_pictures>div:last-child {
    background-image: url(../pictures/table/invitation.jpg);
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-132deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-132deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-132deg) translate(0, 0);
        transform: rotate(-132deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-132deg) translate(-20px, 20px);
        transform: rotate(-132deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/*FORM MAIN*/

input {
    border: none;
    border-bottom: 1px solid #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 48%;
    float: left;
    margin-right: 15px;
}

.form {
    width: 52%;
    padding: 31px;
    background-color: white;
    height: 92%;
}

form>h2 {
    text-align: center;
}

#private_lounge_form>img {
    left: 72.5%;
    top: 4%;
    width: 19%;
}

#private_lounge_form {
    width: 100vw;
}

#invitation_form {
    width: 100vw;
}

#invitation_form>img {
    left: 72.5%;
    top: 4%;
    width: 19%;
}

#button_reservation {
    width: 45%;
}


/*PART RESERVATION*/

#reservation_form>input:nth-child(5) {
    width: 100%;
}

#reservation_form>input:nth-child(2) {
    margin-right: 0;
}

#reservation_form>input:nth-child(4) {
    margin-right: 0;
}

#reservation_form>input:nth-child(7) {
    margin-right: 0;
}

#reservation_form>input:nth-child(8) {
    width: 100%;
    margin-bottom: 10px;
}

.required {
    font-size: 11px;
    position: relative;
    margin: 0 auto;
}


/*PART PRIVATE LOUNGE*/

#private_lounge {
    display: none;
}

#private_lounge a {
    color: #ffc424;
    text-decoration: none;
}

#private_lounge_form {
    background-image: url(../pictures/table/background_1.jpg);
    background-size: 137%;
    background-position: 99%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column_1 {
    width: 47%;
    float: left;
    height: 80%;
    margin-top: 20px;
}

#reservation_form>.column_1>input {
    width: 100%;
    margin-right: 0;
}

#reservation_form>.column_1>input:nth-child(5) {
    width: 48%;
    margin-right: 0;
}

textarea {
    width: 100%;
    margin-right: 0;
    height: 35%;
    float: right;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 15px;
    font-weight: 300;
    resize: none;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
}

#civility {
    margin-bottom: 19px;
    width: 100%;
}

#private_select {
    width: 48%;
    float: right;
}

.column_2 {
    width: 47%;
    float: right;
    height: 80%;
    margin-top: 59px;
}

#reservation_form>.column_2>input {
    width: 100%;
    margin-right: 0;
}

#reservation_form>.column_2>input:nth-child(3) {
    width: 48%;
    margin-right: 10px;
    float: left;
}

#reservation_form>.column_2>input:nth-child(4) {
    width: 48%;
    margin-right: 0;
}

#reservation_form>.column_2>select {
    width: 48%;
    margin-right: 10px;
    float: left;
}

#reservation_form>.column_2>input:nth-child(7) {
    width: 48%;
    margin-right: 0;
    margin-bottom: 5px;
}

.column_2>span {
    float: right;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 13px;
}

.column_2>label {
    font-size: 13px;
    width: 101%;
}

.column_2>label>input {
    width: auto;
    margin-top: 7px;
    margin-right: 8px;
}

.column_2>p {
    font-size: 11px;
    line-height: normal;
    margin-top: 14px;
}

#button_reservation {
    width: 43%;
    margin: 20px auto;
}

#button_privatelounge {
    width: 24%;
    margin: 8px auto;
}

#button_invitation {
    width: 24%;
    margin: 61px auto;
}


/*INVITATION*/

#invitation {
    display: none;
}

#invitation ul {
    list-style: none;
    margin: 20px 0px 20px 0px;
}

#invitation input {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 3px;
}

#invitation_form {
    background-image: url(../pictures/table/background_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title_form {
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
}

.vos {
    text-align: center;
    font-size: 19px;
    font-style: normal;
}

.invitation {
    margin-top: 0px;
}

.input_left {
    width: 48%;
    margin-right: 0;
    float: left;
}

.input_right {
    width: 48%;
    margin-right: 0;
    float: right;
}

.input_guest {
    width: 100%;
}

#message {
    height: 25%;
}


/*RESPONSIVE*/


/*BIG SCREEN*/

@media all and (min-width: 1281px) and (max-width: 3000px) {}


/*intermediate*/

@media all and (min-width: 1024px) and (max-width: 1248px) and (orientation:landscape) {
    #reservation_form>input {
        width: 100%;
    }
    #reservation_form>input:last-child {
        margin: 5px auto;
    }
    #reservation {
        margin-top: 18%;
    }
    #table_pictures>div:first-child h3 {
        font-size: 27px;
    }
}


/*TABLET SCREEN*/

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    #table_pictures>div:first-child {
        height: 33.33%;
        width: 100%;
    }
    .arrow {
        top: 87%;
        left: 40%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-40%);
    }
    #table_pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #table_pictures>div {
        height: 33.33%;
        width: 95%;
        margin-left: 0px;
    }
    h3 {
        top: 50%;
        left: 53%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
    }
    .responsive_article {
        margin: 16% auto;
        width: 71%;
        float: none;
    }
    .swiper-slide:first-child>img {
        width: 30%;
        left: 7%;
        top: 44%;
    }
    #private_lounge_form {
        background-size: cover;
        background-position: 51%;
    }
    .form {
        width: 78%;
        height: 62%;
    }
    #private_lounge_form>img {
        left: 77.5%;
        top: 14.5%;
    }
    #invitation_form>img {
        left: 77.5%;
        top: 14.5%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    #table_pictures>div:first-child {
        height: 100%;
        width: 33.33%;
    }
    #reservation {
        margin-top: 18%
    }
    #reservation_form>input {
        width: 100%;
    }
    #reservation_form>input:last-child {
        margin: 5px auto;
        width: 50%;
    }
    #button_invitation {
        margin: 45px auto;
        width: 50%;
    }
    #table_pictures>div>h3 {
        font-size: 20px;
    }
    #private_lounge_form {
        background-size: cover;
        background-position: 88%;
    }
    .form {
        width: 58%;
    }
    #private_lounge_form>img {
        left: 74.5%;
    }
    #invitation_form>img {
        left: 74.5%;
    }
}


/*PHONE SCREEN*/

@media all and (min-width: 320px) and (max-width: 767px) and (orientation:portrait) {
    #table_pictures>div:first-child {
        height: 33.33%;
        width: 100%;
    }
    .arrow {
        top: 87%;
        left: 40%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-40%);
    }
    #table_pictures {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #table_pictures>div {
        height: 30%;
        width: 95%;
        margin-left: 0px;
    }
    h3 {
        top: 50%;
        left: 70%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 23px;
    }
    #table_pictures>div:first-child {
        background-position: 0% 26%;
    }
    #table_pictures>div:nth-child(2) {
        background-position: 0% 39%;
    }
    #table_pictures>div:last-child {
        background-position: 0% 17%;
    }
    .swiper-slide:first-child>img {
        width: 39%;
        left: 7%;
        top: 32%;
    }
    #reservation_form>input {
        width: 100%;
    }
    #reservation_form>input:last-child {
        margin: 5px auto;
    }
    #table_pictures>div>h3 {
        font-size: 20px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) and (orientation:landscape) {
    h3 {
        top: 82%;
        left: 42%;
        font-size: 29px;
    }
    #table_pictures>div:first-child {
        height: 100%;
        width: 33.33%;
    }
    #table_pictures>div:first-child {
        height: 100%;
        width: 33.33%;
    }
    #reservation_form>input {
        width: 100%;
    }
    #reservation_form>input:last-child {
        margin: 5px auto;
    }
}
