<!DOCTYPE html>
<html lang="fr">

<head>
    <title>La Carte - La Tour d'Argent</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez la carte de la Tour d'Argent, ses plats emblématiques et ceux élaborés par notre chef Philippe Labbé">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/carte_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <img id="title_carte" class="title_section" src="../static/pictures/carte/title_carte.svg" alt="Le chef">
            <section>
                <div class="pictures_left"></div>
                <article id="first_article" class="text_right">
                    <a href="#ancre" class="menu_card">VOIR LES MENUS</a>
                    <a href="/table" class="menu_card">RÉSERVER</a>
                    <h2 class="first_title title">MISE EN BOUCHE</h2>
                    <span>L’élégance du paflage</span>
                    <h3>CAROTTE D’ARNAUD AUBAGNE</h3>
                    <p>
                        Arachnéenne, crème épicée, safran, fenouil, coriandre, noisette, pamplemousse
                    </p>
                    <h3>ARTICHAUT</h3>
                    <p>
                        Kéfir, anis, basilic Thaï
                    </p>
                    <h3>POMME VERTE DES JARDINS DE BRIÈRE</h3>
                    <p>
                        Coque de raifort, jus de livèche
                    </p>
                    <h2 class="title">HORS D’OEUVRE</h2>
                    <span>Mets délicats ou petites pièces à partager en attendant vos entrées</span>
                    <h3>FÉVETTE DE ROGNONAS DE LA FAMILLE BOYER</h3>
                    <p>
                        À la « française », glace béarnaise, crumble de poitrine paysanne, oseille
                    </p>
                </article>
            </section>
            <section>
                <div class="pictures_right"></div>
                <article class="text_left">
                    <h2 class="first_title title">ENTRÉES</h2>
                    <span>ou petits entremets</span>
                    <h3>ASPERGES BLANCHES XXL BIO DE FRÉDÉRIC POUPARD</h3>
                    <p>
                        Basilic et fraises ciflorette, sorbet parmesan, vinaigre balsamique traditionnel de Modène « extra veccio », huile d’olive « 100 » de Philippe Chansigaud, soupe glacée au citron
                    </p>
                    <span class="price_card">88 €</span>
                    <h3>LANGOUSTE PUCE ROYALE</h3>
                    <p>
                        A la nage épicée citronelle et limequat condiment et Macadamia, floralie d’herbes et fleurs, premiers jeunes légumes des jardins de Saint-Hilaire
                    </p>
                    <span class="price_card">145 €</span>
                    <h3>FOIE GRAS DE CANARD (POUR DEUX PERSONNES)</h3>
                    <p>
                        Grillé, laqué au vieux balsamique tradition, cristalline de laiture de mer, tuile d’araignée de mer rubarbe tendre, vinaigrette d’huître
                    </p>
                    <span class="price_card">89 € (p.p)</span>
                    <h3>BROCHET SAUVAGE DES GRAVIÈRE DE VETHEUIL, QUENELLE HOMMAGE AU GRAND-PÈRE</h3>
                    <p>
                        Sauce Fleurette gratinée, morilles blondes et brunes, oxalis doré, pourpre et verte
                    </p>
                    <span class="price_card">78 €</span>
                </article>
            </section>
            <section>
                <div id="fish" class="pictures_left"></div>
                <article class="text_right">
                    <h2 class="first_title title">POISSONS</h2>
                    <span>L’art de la fraicheur </span>
                    <h3>TURBOT SAUVAGE DE ROSCOFF</h3>
                    <p>
                        Rôti aux pousses de verdures, feuilles de capucines, fraises veres, pommes Ratte confites, jus de volaille acidulé aux aromates
                    </p>
                    <span class="price_card">118 €</span>
                    <h3>SAINT-PIERRE DE LIGNE DE ROSCOFF</h3>
                    <p>
                        Cuisiné à la nacre, bohémienne de petits pois et carottes nouvelles, jus de homard acidulé, citron vert
                    </p>
                    <span class="price_card">87 €</span>
                    <h3>THOMARD BLEU DE CASIER DES ÎLES CHAUSEY (EN DEUX FAÇONS)</h3>
                    <p>
                        Les pinces : délicatements infusées à la camomille, groseilles et petits pois La queue : pochée lentement dans un beurre d’agrumes, sabayon au vin Xérès, fricassée de petits pois et morilles au pourpier, fleur de ciboulette
                    </p>
                    <span class="price_card">152 €</span>
                    <h3>BROCHET SAUVAGE DES GRAVIÈRES DE VÉTHEUIL, QUENELLE HOMMAGE AU GRAND-PÈRE</h3>
                    <p>
                        Sauce fleurette gratinée, morillles blondes et brunes, oxalis doré, pourpre et verte
                    </p>
                    <span class="price_card">78 €</span>
                </article>
            </section>
            <section id="card_rots">
                <div id="rots" class="pictures_right"></div>
                <article class="text_left">
                    <h2 class="first_title title">RÔTS</h2>
                    <span>Ou pièces de résistance</span>
                    <h3>BŒUF DE L’AUBRAC*</h3>
                    <p>
                        Morceau choisi rôti, raviole ouverte de queue braisée, ketchupe de pommes vertes artichauts poivrades rôti, jus corsé
                    </p>
                    <span class="price_card">118 €</span>
                    <h3>AGNEAU DE LAIT DE L’AVEYRON*</h3>
                    <p>
                        Selle, côte et gigot à la puntarella, pomme rôties, crumble d’agneau, jus acidulé au vinaigre et curry
                    </p>
                    <span class="price_card">88 €</span>
                    <h3>FOIE GRAS DE CANARD (POUR DEUX PERSONNES)</h3>
                    <p>
                        Doré u sautoire, grillotiné de gratons, morilles étuvées au jus de savagnon émulsion d’ail des ours, sucs de parmesan di-Reggiano, baselle
                    </p>
                    <span class="price_card">148 €</span>
                    <h3>CANETON DE CHALLANS*</h3>
                    <p>
                        Rôti aux épices, crackers de canard, sanguette épicée, fumet de réglisse, navets confits, oignons nouveaux rôtis
                    </p>
                    <span class="price_card">94 €</span>
                    <h3>CANETON MAZARINE (EN DEUX SERVICES)*</h3>
                    <p>
                        1er service : Rôti en bigarade, voilé d’asperges vertes au zestes, mousseline de petits pois à l’orange, pomme soufflées 2e service : Gras de cuisse braisée aux navets primeurs, poivre de Timut, confiture d’orange bigarade, feuille de moutarde
                    </p>
                    <span class="price_card">120 €</span>
                    <span>*viande d'origine françaie</span>
                </article>
            </section>
            <section>
                <div id="dessert" class="pictures_left"></div>
                <article class="text_right">
                    <h2 class="first_title title">FROMAGES</h2>
                    <span>Affinés par Laurent Dubois, notre Maître Fromager un des Meilleurs Ouvriers de France 2000</span>
                    <h3>SÉLECTION DE FROMAGES</h3>
                    <span class="price_card">32 €</span>
                    <h3>COMPTÉ D’EXEPTION TRENTE-SIX-MOIS</h3>
                    <p>
                        Granges Maillot, Famille Badoz
                    </p>
                    <span class="price_card">16 €</span>
                    <h2 class="title">LES FANTASIES DE LA TOUR</h2>
                    <span>Préparées au guéridon pour l’ensemble de votre table</span>
                    <h3>CRÊPES MADEMOISELLE</h3>
                    <p>
                        Sorbet minuteau caillé de lait cru zesté de Laurent Dubois
                    </p>
                    <span class="price_card">54 €</span>
                    <h3>CHOCOLAT LAIT</h3>
                    <p>
                        Mousse, caramel, sorbet chocolat blanc ambré, llait déshydraté. Servi avec notre café d'execption Kona d'Hualalai à Hawaï
                    </p>
                    <span class="price_card">46 €</span>
                </article>
            </section>
            <section>
                <div id="sweet" class="pictures_right"></div>
                <article class="text_left">
                    <h2 class="first_title title">ENTREMETS & DOUCEURS</h2>
                    <span>Tentation et délices à commander en début de repas</span>
                    <h3>FLEURS PRINTANIÈRES</h3>
                    <p>
                        Floralies cristallisées, mousse de rose, sorbet framboise et champagne rosé, gelée de miel de notre toit, barbe à papa
                    </p>
                    <span class="price_card">39 €</span>
                    <h3>RHUBARBE</h3>
                    <p>
                        Comme une tarte croustillante, mousse de fromage blanc, jus de coco lié en texture, sorbet rhubarbe
                    </p>
                    <span class="price_card">38 €</span>
                    <h3>COMME UN VACHERIN, FRAISE DES BOIS, MANGUE</h3>
                    <p>
                        Mikado fraise, menthe, nature, parfum d’orange et gimgembre, crème fouetée infusée au sucre Demerara épicé, verveine, menthe, basilic
                    </p>
                    <span class="price_card">45 €</span>
                    <h3>OR NOIR COMBINAISON SURPRISE COMME UNE BARRE CHOCOLATÉE</h3>
                    <p>
                        Mousse légère, nougat et nougatine aux amandes, gelée de cacao, crème glacée vanillée à la fleur de sel, fleur de cacao
                    </p>
                    <span class="price_card">36 €</span>
                </article>
            </section>
            <section id="menu">
                <h2 id="ancre">LES MENUS</h2>
                <div id="ligne"></div>
                <article class="menu_left">
                    <h2 class="first_title title">AUTOUR DU DÉJEUNER - 105 €</h2>
                    <span>(+40 € le plat supplémentaire)</span>
                    <h3>QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE</h3>
                    <p>
                        Sauce fleurette gratinée aux écrevisses, oxalis
                    </p>
                    <h3>GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</h3>
                    <p>
                        A la crème de citron de Menton, praliné salé à l’amande, jus d’asperges émulsionné à l’huile d’olive « Lessatini », soup d’asperges glacée
                    </p>
                    <h3>AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON</h3>
                    <p>
                        Câpres, amandes, salicornes, poudre de noisettes
                    </p>
                    <h3>FILET DE CANETON</h3>
                    <p>
                        Filet de caneton rôti aux épices, émulsion de vinaigre réglissé, navets confits, oignons nouveaux rôtis
                    </p>
                    <h3>FRAISES CIFLORETTE XXL</h3>
                    <p>
                        Sur un biscuit onctueux Traou Mad, crème glacée italienne à la fève Tonka marbré de granité
                    </p>
                    <h3>OR NOIR COMBINAISON SURPRISE COMME UNE BARRE CHOCOLATÉE</h3>
                    <p>
                        Mousse légère, nougat et nougatine aux amandes, gelée de cacao, crème glacée vanillée à la fleur de sel, fleur de cacao
                    </p>
                </article>
                <article class="menu_right">
                    <h2 class="first_title title">TOUR DU CANETON CROISÉ DE « LILIANE BURGAUD » - 350 €</h2>
                    <span>Pour l’ensemble des convives</span>
                    <h3>AVANT PLAT</h3>
                    <p>
                        Abats, petits pois et feuilles d’amarante, vinaigrette de saupiquet
                    </p>
                    <h3>1er SERVICE</h3>
                    <p>
                        Oeuf de cane « monochrome », jaune acidulé aux fleurs de capucines et tagètes, courgette et betteraves jaunes
                    </p>
                    <h3>2e SERVICE</h3>
                    <p>
                        Suprême, rôti au Porto, marmelade de Sucrine, puntarella, pamplemousse rose lié à l’épeautre de Sault, émulsion d’ail des ours.
                    </p>
                    <h3>FILET DE CANETON</h3>
                    <p>
                        Filet de caneton rôti aux épices, émulsion de vinaigre réglissé, navets confits, oignons nouveaux rôtis
                    </p>
                    <h3>3e SERVICE</h3>
                    <p>
                        Foie gras grillé, laqué au vieux balsamique tradition, cristalline de laitue de mer, tuile d’araignée de mer, rhubarbe tendre, vinaigrette d’huîtres
                    </p>
                    <h3>4e SERVICE</h3>
                    <p>
                        Cuisse braisée aux premières cerises, chou pointu, gel de griotte acidulé, fleur de sureau, lierre terrestre
                    </p>
                    <h3>DESSERT</h3>
                    <p>
                        Pour les petits et les grands, « souvenir d’enfance » Interprétation d’une feuillantine de brick aux vanilles, Tahitensis de Tahiti, Panifolia d’Inde façon millefeuille
                    </p>
                </article>
                <article id="menu3" class="menu_left">
                    <h2 class="first_title title">LE CANNETON FRÉDÉRIC DELAIRE – 240€</h2>
                    <span>A partir de deux personnes et pour l’ensemble de la table</span>
                    <p>
                        Pour donner à ce plat emblématique toute l’attention qu’il mérite, faites-nous le plaisir de commander VOTRE CANETON au moins deux jours à l’avance
                    </p>
                </article>
                <article id="menu4" class="menu_right">
                    <h2 class="first_title title">IMAGINATION DE PHILIPPE EN SIX SERVICES – 350 €</h2>
                    <span>Pour l’ensemble des convives</span>
                </article>
            </section>
            <a href="/table"><button class="button_reserve">RÉSERVER VOTRE TABLE</button></a>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_carte.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
