<!DOCTYPE html>
<html lang="fr">

<head>
    <!--META-->
    <meta charset="UTF-8">

    <!--LINK-->
    <link rel="stylesheet" href="/static/css/chef_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />

    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <title>Le chef - La Tour d'Argent</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <img id="title_chef" class="title_section" src="../static/pictures/chef/title_chef.svg" alt="Le chef">
            <section class="pictures_section">
                <div class="swiper-container swiper-container_3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                    </div>
                </div>
                <section id="philippe">
                    <article id="blockquote">
                        <blockquote>
                            <img src="../static/pictures/chef/quote-1.svg" alt="guillemet ouvrant" /> Je souhaite donner la même émotion dans l’assiette qu’en regardant à travers la baie vitrée.
                            <img src="../static/pictures/chef/quote-2.svg" alt="guillemet flermant" />
                        </blockquote>
                        <span>Philippe Labbé</span>
                    </article>
                </section>
            </section>

            <article>
                <h2>PHILIPPE LABBÉ :</h2>
                <h3>CHAMPENOIS LA TÉNACITÉ</h3>

                <p>Champenois d’origine, il a travaillé vingt ans aux côtés des plus grands Chefs avant de diriger lui-même les cuisines du Château de Bagnols de 2001 à 2003 et celle du Château de la Chèvre d’Or à Eze de février 2003 à août 2009. <br><br> Après avoir obtenu son diplôme de l’École Hôtelière d’Illkirch à Strasbourg il rejoint, en 1981, la brigade du Chef Bernard Loiseau au restaurant La Côte d’Or à Saulieu. Il évoluera ensuite auprès d’autres Chefs comme Gérard Boyer au restaurant Les Crayères à Reims ou encore Roger Vergé au Moulin de Mougins. Il a par ailleurs une solide expérience des beaux hôtels, de renommée internationale, comme le Carlton à Cannes ou le Plaza Athénée à Paris.<br><br> Philippe Labbé a travaillé trois ans à l’hôtel Martinez à Cannes, au sein de la brigade de Christian Willer, un Chef reconnu comme l’un des meilleurs Chefs d’Hôtel de sa génération auprès duquel Philippe Labbé a appris la rigueur et les enjeux de la restauration d’un grand hôtel. <br><br> Philippe Labbé propose une cuisine traditionnelle revisitée qui connaît depuis plusieurs années les honneurs des gastronomes du monde entier.<br><br> Il affectionne les mariages de saveurs originales sublimant des produits de haute qualité et apporte une attention toute particulière à la carte des desserts qui doit être en parfaite harmonie avec sa cuisine.
                </p>
            </article>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_swiper.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
