<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Le Comptoir - La Tour d'Argent</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Au Comptoir, la Tour d'Argent vous propose ses produits d'épicerie fine à la vente : confitures, foie gras, et vins des vignobles de la Maison.">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/comptoir_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <section id="branch" class="pictures_section">
                <p id="down">Découvrez</p>
                <div class="scroll-down"></div>
            </section>
            <article class="article_page">
                <h1>LE<br>COMPTOIR</h1>
                <span>DE LA TOUR</span>
                <blockquote>
                    Que vous sortiez d’un déjeuner à la Tour d’Argent ou que vous soyez à vous dégourdir les jambes quai de la Tournelle, poussez la porte du Comptoir de la Tour : notre bar-boutique ouvert à tous où vous pourrez boire un café, un jus de fruits, une coupe de champagne – et plus si affinités.
                </blockquote>
                <p>
                    Car avec notre gamme d’épicerie fine sucrée (confitures, miel de notre toit, biscuits…) et salée (terrines, foie gras, vinaigres, huiles, moutardes…), de vins, d’accessoires et d’arts de la table, il faudrait être ermite pour repartir les mains vides. Prenez le temps de flâner, et confectionnez votre coffret cadeau sur-mesure et selon vos envies. Des coffrets qui pourraient ressembler à ceux-là…
                    <br>
                    <br> Coffret “L’Incontournable” composé de : Sauternes, foie gras de canard entier, chutney aux épices galantes. Entourez-vous de gourmets, enlevez vos gants, savourez.
                </p>
            </article>
            <section class="pictures_section swiper-container swiper-container_3" id="swiper">
                <section class="swiper-wrapper">
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                </section>
            </section>
            <article id="next_text" class="article_page">
                <p>
                    Coffret “Un dimanche à la campagne” composé de : Bordeaux Graves rouge, rillettes de canard au foie gras, terrine de canard et foie gras au poivre vert, chutney aux épices galantes.
                    <br>
                    <br> Une invitation au voyage, comme disait Baudelaire ?
                    <br>
                    <br> “Le déjeuner sur l’herbe” répondrait Manet. Deux terrines de canard au foie gras, un chutney et notre délicieux Graves rouge : avec ce coffret, l’exotisme n’est pas loin…
                    <br>
                    <br> Le Comptoir de la Tour d’Argent se fait une certaine idée de la France – et de la qualité de ses artisans.
                    <br>
                    <br> Main dans la main, fidèlement, la Tour ne travaille qu’avec des producteurs français attachés à la terre, au savoir-faire et à la transmission.
                </p>
                <h2>INFOS</h2>
                <span>PRATIQUES</span>
                <p>
                    2 Rue du Cardinal Lemoine, 75005 Paris, France
                    <br> Tél. : +33 (0)1 43 54 62 53
                    <br> Ouvert de 7h00 à 20h00 en semaine et de 8h00 à 20h00 le week-end et les jours fériés
                </p>
            </article>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_swiper.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
