<!DOCTYPE html>
<html lang="fr">

<head>
    <!--META-->
    <meta charset="UTF-8">

    <!--LINK-->
    <link rel="stylesheet" href="/static/css/contact_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />

    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <title>La Boulangerie - La Tour d'Argent</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <section id="pictures_contact" class="pictures_section">
            </section>
            <article class="article_page">
                <img src="../static/pictures/contact/logo_grey.svg" alt="logo">
                <p>15, quai de la Tournelle - 75005 Paris<br> <a href="tel:0143542331">Tél : +33 (0)1 43 54 23 31</a><br>
                    <a href="mailto:resa@tourdargent.com">E-mail : resa@tourdargent.com</a> <br> Voiturier
                    <br> Fermé : Dimanche & lundi<br> Métro : Pont Marie
                </p>
            </article>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_swiper.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>