<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Crédits - La Tour d'Argent</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Direction graphique PIATON &amp; ASSOCIÉS 41 rue Vaneau 75007 Paris &nbsp; Conception, réalisation &amp; développement ADVERIS 130 Boulevard Haussmann 75008 Paris &nbsp; Hébergement &amp; Monitoring AAMSET 5 Rue Ambroise Thomas 75009 Paris &amp; ONLINE SAS BP 438 75366 Paris Cedex 08 &nbsp; Droits d’auteur photographes&nbsp;: Archives de la Tour d’Argent Pierre-Emmanuel de Leusse, Spartium pour …">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/credits_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <article id="credits" class="article_page">
                <h1>CREDITS</h1>
                &nbsp;
                <h2>Direction graphique PIATON & ASSOCIÉS</h2>
                <p>
                    41 rue Vaneau 75007 Paris
                </p>
                &nbsp;
                <h2>Conception, réalisation & développement ADVERIS </h2>
                <p>
                    130 Boulevard Haussmann 75008 Paris
                </p>
                &nbsp;
                <h2>Hébergement & Monitoring AAMSET</h2>
                <p>
                    5 Rue Ambroise Thomas 75009 Paris
                </p>
                <h2>& ONLINE SAS</h2>
                <p>
                    BP 438 75366 Paris Cedex 08
                </p>
                &nbsp;
                <h2>Droits d’auteur photographes :</h2>
                <p>
                    Archives de la Tour d’Argent
                    <br> Pierre-Emmanuel de Leusse,Spartium pour la Tour d’Argent
                    <br> Herminie Philippe pour la Tour d’Argent
                    <br> Hirama pour la Tour d’Argent
                    <br> Maÿlis Devaux pour la Tour d’Argent
                </p>
                &nbsp;
                <h2>Traductions</h2>
                <p>
                    ALLIANCE FRANCAISE NEW DELHI
                </p>
            </article>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_swiper.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
