<!DOCTYPE html>
<html lang="fr">


<head>
    <title>La Tour d'Argent</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Véritable emblème parisien, la Tour d'Argent vous présente son restaurant étoilé et son histoire légendaire.">

    <!--LINK-->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />

    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <script>
        //Height body
        var FullBodyHeight = function() {
            $('body').css('height', window.innerHeight);
        }
        setInterval(FullBodyHeight, 0);

    </script>
</head>

<body>
    <div id="loader">
        <div>
            <img src="../static/pictures/accueil/logo_white.svg" />
            <img src="../static/pictures/accueil/shadow_logo.png" />
            <select>
                <option selected value="french">Français</option>
                <option value="english">English</option>
                <option value="russia">русский</option>
                <option value="chinese">中国</option>
                <option value="japanese">日本の</option>
                <option value="arab">العربية</option>
            </select>

            <a href="/home"><button id="enter">ENTRER</button></a>

        </div>
        <a id="contact" href="tel:0143542331">Contactez-nous : +33 (0)1 43 54 23 31</a>
    </div>
    <script src="../static/js/script_main.js"></script>
    <script src="../static/js/script_index.js"></script>
    <script src="../static/js/jquery_easing.js"></script>
</body>

</html>
