<!DOCTYPE html>
<html lang="fr">

<head>
    <!--META-->
    <meta charset="UTF-8">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/lieu_style.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <title>Le lieu - La Tour d'Argent</title>
</head>

<body>
    <%- include('../partials/header') -%>

</body>

</html>
