<!DOCTYPE html>
<html lang="fr">

<head>
    <!--META-->
    <meta charset="UTF-8">

    <!--LINK-->
    <link rel="stylesheet" href="/static/css/table_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />

    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <title>Votre Table - La Tour d'Argent</title>
    <script>
        //Height body
        var FullBodyHeight = function() {
            $('body').css('height', window.innerHeight);
            $('section').css('height', window.innerHeight - 50);
        }
        setInterval(FullBodyHeight, 0);

    </script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <section id="fullpage" class="swiper-container swiper-container_1">
                <section class="swiper-wrapper">
                    <section class="swiper-slide">
                        <img class="title_section" src="../static/pictures/table/title_table.svg" alt="La Table" id="title_table">
                        <div id="table_pictures" class="pictures_section">
                            <div>
                                <div class="black-hover"></div>
                                <h3>RESERVATION</h3>
                            </div>

                            <div>
                                <div class="black black-hover"></div>
                                <h3>SALON PRIVE</h3>
                            </div>

                            <div>
                                <div class="black black-hover"></div>
                                <h3>INVITATIONS</h3>
                            </div>
                        </div>
                        <article id="reservation" class="responsive_article">
                            <h2>RESERVATION</h2>
                            <form id="reservation_form">
                                <input type="text" onfocus="(this.type='date')" name="reservation" placeholder="Date*" required>
                                <input type="text" onfocus="(this.type='time')" name="reservation" placeholder="Heure*" required>
                                <input type="text" name="reservation" placeholder="Nom*" required>
                                <input type="text" name="reservation" placeholder="Prénom*" required>
                                <input type="email" name="mail" placeholder="E-mail*" required>
                                <input type="tel" name="reservation" placeholder="Téléphone*" required>
                                <input type="text" name="reservation" placeholder="Pays*" required>
                                <input type="number" name="private_lounge" placeholder="Couverts*" required>
                                <p class="required"><i>*Ces champs sont obligatoires.</i></p>
                                <input id="button_reservation" class="button_reserve send" type="submit" name="reservation" value="RESERVER">
                            </form>

                        </article>
                        <article id="private_lounge" class="responsive_article">
                            <h2>SALON PRIVE</h2>
                            <p>Si vous souhaitez être contacté pour l’organisation d’un petit-déjeuner, d’un déjeuner ou d’un dîner dans notre Salon Privé, merci de remplir le formulaire ci-dessous, nous reviendrons vers vous dans les plus brefs délais.<br> Situé au cinquième étage, notre Salon Privé propose dans un cadre élégant et confortable une vue unique sur Paris, Notre-Dame et la Seine. <br> Nous pouvons accueillir de 15 à 50 personnes, ce qui en fait un lieu idéal pour l’organisation d’évènements privés, de petit-déjeuners, de réunions d’affaires, de déjeuners ou de dîners. <a target="_blank" href="https://tourdargent.com/brochure/">Brochure</a></p>
                        </article>

                        <article id="invitation" class="responsive_article">
                            <h2>INVITATIONS</h2>
                            <p>L’accord “mets et vins” sera réalisé par notre Sommelier. Les invitations seront adressées :</p>
                            <ul>
                                <li>
                                    <label>
                            <input type="radio" name="invitation" checked required>
                            À vous-même
                            </label>
                                </li>
                                <li>
                                    <label>
                            <input type="radio" name="invitation" required>
                            À vos invités
                            </label>
                                </li>
                            </ul>
                            <p>Nos invitations sont valables à partir de deux personnes uniquement. Le Menu Invitation suit la saison et change au cours de l’année.</p>
                        </article>
                        <span class="arrow"></span>
                    </section>
                    <section class="swiper-slide">
                        <section id="private_lounge_form">
                            <img class="title_table_form title_section" src="../static/pictures/table/title_table.svg" alt="La Table">
                            <form id="reservation_form" class="form">
                                <h2>DEMANDE DE RESERVATION</h2>
                                <div class="column_1">
                                    <select class="form_responsive" id="civility" name="private_lounge" title="Civilité*" required>
                                    <option>Civilité*</option>
                                    <option>Monsieur</option>
                                    <option>Madame</option>
                                    <option>Mademoiselle</option>    
                                </select>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Nom*" required>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Société">
                                    <select class="form_responsive" id="private_select" name="private_lounge" title="Privé ou Pro*" required>
                                    <option>Privé ou Pro*</option>
                                    <option>Privé</option>
                                    <option>Profesionnel</option>
                                </select>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Code Postal*" required>
                                    <input class="form_responsive" type="email" name="private_lounge" placeholder="E-mail*" required>
                                    <input class="form_responsive" type="text" onfocus="(this.type='date')" name="private_lounge" placeholder="Date*" required>
                                    <textarea name="private_lounge" placeholder="Informations complémentaires"></textarea>
                                </div>

                                <div class="column_2">
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Prénom*" required>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Adresse*" required>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Ville*" required>
                                    <input class="form_responsive" type="text" name="private_lounge" placeholder="Pays*" required>
                                    <input class="form_responsive" type="tel" name="private_lounge" placeholder="Téléphone Portable*" value="+33" required>
                                    <select class="form_responsive" name="private_lounge" title="Service*" required>
                                    <option>Service*</option>
                                    <option>Déjeuner</option>
                                    <option>Dîner</option>
                                </select>
                                    <input class="form_responsive" type="number" name="private_lounge" value="15" placeholder="Couverts*" required>
                                    <span>Pour toute réservation de moins de 15 couverts, veuillez nous contacter.</span>

                                    <label>
                                    <input class="form_responsive" type="checkbox" name="private_lounge"> Je souhaite recevoir les dernières actualités de la Tour d’Argent
                                </label>
                                    <p><i>*Ces champs sont obligatoires.</i> Ces informations sont tenues strictement confidentielles et en vertu de la loi relative à l’information et aux libertés n° 78-17 du 06/01/1978, notre clientèle conserve tout droit de regard et de modification.</p>
                                </div>
                                <input id="button_privatelounge" class="button_reserve" type="submit" name="reservation" value="ENVOYER">
                            </form>
                            <span class="arrow"></span>
                        </section>
                        <section id="invitation_form">
                            <img class="title_section title_table_form" src="../static/pictures/table/title_table.svg" alt="La Table">
                            <form class="form">
                                <div id="guest" class="column_1 invitation">
                                    <h2 class="title_form"><span class="vos">VOS<br></span>INVITES</h2>
                                    <select id="civility" name="invitation" title="Civilité*" required>
                                    <option>Civilité*</option>
                                    <option>Monsieur</option>
                                    <option>Madame</option>
                                    <option>Mademoiselle</option>    
                                </select>
                                    <input class="input_left" type="text" name="invitation" placeholder="Nom*" required>
                                    <input class="input_right" type="text" name="invitation" placeholder="Prénom*" required>
                                    <input class="input_guest" type="text" name="invitation" placeholder="Adresse*" required>
                                    <input class="input_left" type="text" name="invitation" placeholder="Ville*" required>
                                    <input class="input_right" type="text" name="invitation" placeholder="Code Postal*" required>
                                    <input class="input_guest" type="text" name="invitation" placeholder="Pays*" required>
                                    <input class="input_guest" type="email" name="invitation" placeholder="E-mail*" required>
                                    <input class="input_guest" type="tel" name="invitation" placeholder="Téléphone Portable*" value="+33" required>
                                    <input class="input_guest" type="text" name="invitation" placeholder="Société">
                                    <p class="required"><i>*Ces champs sont obligatoires.</i></p>
                                </div>

                                <div class="column_2 invitation">
                                    <h2 class="title_form"><span class="vos">VOS</span><br>COORDONNEES</h2>
                                    <select class="input_left" id="civility" name="private_lounge" title="Civilité*" required>
                                    <option>Civilité*</option>
                                    <option>Monsieur</option>
                                    <option>Madame</option>
                                    <option>Mademoiselle</option>    
                                </select>
                                    <input class="input_left" type="text" name="invitation" placeholder="Nom*" required>
                                    <input class="input_right" type="text" name="invitation" placeholder="Prénom*" required>
                                    <input class="input_guest" type="text" name="invitation" placeholder="Adresse*" required>
                                    <input class="input_left" type="text" name="invitation" placeholder="Ville*" required>
                                    <input class="input_right" type="text" name="invitation" placeholder="Code Postal*" required>
                                    <input class="input_left" type="text" name="invitation" placeholder="Pays*" required>
                                    <input class="input_right" type="email" name="invitation" placeholder="E-mail*" required>
                                    <input class="input_guest" type="tel" name="invitation" placeholder="Téléphone Portable*" value="+33" required>
                                    <input class="input_guest" type="text" name="invitation" placeholder="Société">
                                    <textarea id="message" name="invitation" placeholder="Informations complémentaires"></textarea>

                                </div>
                                <input id="button_invitation" class="button_reserve" type="submit" name="reservation" value="ENVOYER">

                            </form>
                            <span class="arrow"></span>
                        </section>
                    </section>
                </section>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>
        </main>

        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_table.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
