<!DOCTYPE html>
<html lang="fr">

<head>
    <title>La Tour D'Argent Tokyo</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="La Tour d'Argent est présente à Tokyo avec un second restaurant réputé et gastronomique.">
    <!--LINK-->
    <link rel="stylesheet" href="/static/css/tokyo_style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />
    <!--SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--TYPOGRAPHIE-->
    <script src="https://use.typekit.net/zoy0sep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <section id="tokyo" class="pictures_section">
                <p id="down">Découvrez</p>
                <div class="scroll-down"></div>
            </section>
            <article class="article_page">
                <h1>LA<br>TOUR D'ARGENT</h1>
                <span>TOKYO</span>
                <p>
                    <a id="reservation" target="_blank" href="https://www.tablecheck.com/fr/shops/latourdargent/reserve">RESERVER</a>
                    <a target="_blank" href="https://tourdargent.com/la-carte-tokyo/">VOIR LA CARTE</a>
                    <br>
                    <br> Né d’une grande amitié et d’une admiration mutuelle entre le Président Yoneichi Otani et Claude Terrail, la Tour d’Argent ouvre le 4 septembre 1984. C’est alors l’un des tout premiers grands restaurants français au Japon
                    <br>
                    <br> À l’ouverture, Claude Terrail confie les rênes de cette somptueuse réplique à Christian Bollard. Directeur Général depuis ce jour, il dirige de main de maître ce prestigieux établissement donnant sur les jardins japonais de l’Hôtel New Otani.
                    <br>
                    <br> Passant les modes et les crises la Tour d’Argent Tokyo a construit sa réputation et sa clientèle, célébrant lors d’une magnifique soirée donnée en septembre 2004 ses vingt années d’existence et d’amitié avec le Japon.
                    <br>
                    <br> La Tour d’Argent de Tokyo est le premier restaurant à avoir importé le canard, à servir le homard et les asperges au Japon et à introduire pour les mariages, les pièces montées, alors complètement inconnues.
                </p>
            </article>
            <section id="renaud" class="pictures_section"></section>
            <article id="next_text_2" class="article_page">
                <p>
                    Né en 1981 près de Grenoble, Renaud Augier plonge dans l’univers de la cuisine à 16 ans dans un restaurant 1 étoile Michelin et développe son savoir-faire dans plusieurs restaurants deux et trois étoiles.
                    <br>
                    <br> En tant que stagiaire dans plusieurs restaurants connus, sa passion pour la gastronomie et son talent se ressentent dès ses premiers pas dans le métier. En 1999, il débute chez Georges Blanc à Vonnas, établissement trois étoiles Michelin.
                    <br>
                    <br> Après 6 ans chez Georges Blanc il poursuit son parcours chez le grand Michel Trama à l’Aubergade-Puymirol situé entre Bordeaux et Toulouse. Renaud Augier s’y épanouit et Michel Trama le recommande rapidement pour le Louis XV à l’Hôtel de Paris à Monaco, dirigé par Alain Ducasse, où cette star montante y poursuit l’art de la cuisine à partir de 2007.
                    <br>
                    <br> Renaud Augier poursuit son parcours et rejoint à partir de 2010 au Château les Crayères à Reims, un restaurant deux étoiles Michelin dans la belle région de Champagne dont l’équipe de cuisine est menée par l’un des Meilleurs Ouvriers de France Philippe Mille. Durant sa période aux Crayères, il en profite pour concourir au Prix International Taittinger en 2011 et obtient la deuxième place.
                    <br>
                    <br> Il rejoint enfin la Tour d’Argent Paris en 2012 et prend la direction des cuisines de la Tour d’Argent Tokyo en 2013. En 2015, il se lance pour défi de concourir aux Meilleurs Ouvriers de France et atteint les demi-finales sous la supervision de Laurent Delarbre, l’un des Meilleurs Ouvriers de France 2004 et ancien Chef de la Tour d’Argent à Paris.
                </p>
            </article>
            <section class="pictures_section swiper-container swiper-container_3" id="swiper">
                <section class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="food">
                            <h3>ÉCREVISSE DE FRANCE</h3>
                            <span>Sur un tartare d'asperge violette, bavarois Claudius Burdel et gelée de crustacés</span>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="food">
                            <h3>SOLE ADOLPHE DUGLÉRÉ</h3>
                            <span>Farcie, petite tomate confite et sauce vin blanc</span>
                        </article>
                    </div>
                </section>
            </section>
            <article id="practical_tokyo">
                <h2>INFOS</h2>
                <span>PRATIQUES</span>
                <p>
                    4, Kioi-cho, 1, Chiyoda, Tokyo, Japon
                    <br> Hôtel New Otani
                    <br>
                    <a href="tel:810332393111">Tél. : +81 (0) 3 3239 3111</a>
                    <br> Ouvert tous les jours à dîner sauf le lundi. 1er service à 17h30.
                    <br>
                    <a href="mailto:tourdargent@newotani.co.jp">tourdargent@newotani.co.jp</a>
                    <br>
                    <a href="http://www.latourdargent.jp">www.latourdargent.jp</a>
                </p>
            </article>
        </main>
        <script src="../static/js/script_main.js"></script>
        <script src="../static/js/script_swiper.js"></script>
        <script src="../static/js/swiper.jquery.min.js"></script>
</body>

</html>
